#board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: 900px;
    height: 900px;
    align-items: flex-start;
    align-content: flex-start;

}




.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0px;
    
    
}

.box-pointer{
    
    background-color: black;
    animation: appear 0s;
    transition: background-color 0.1s;
}
