body{
    background-image: url('morpion.jpg');
    background-size: cover;
}

#board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    
    width: 615px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}




.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: rgba(186, 196, 186, 0.4);
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 75px;
    margin: 2.5px;
    border-radius: 5px;
    cursor: pointer;

}

.box-O{

    color: green;
    
}

.box-X{

    color: red;
    
}

#select{
    text-align: center;
    font-size: xx-large;
}