body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    margin-bottom: 50%;
    width: 420px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}




.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: green;
    color: white;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s;
    cursor: pointer;
    transition: background-color 0.5s, rotate 0.5s, transform 0.5s;
}


.box-click{

    background-color: red;
    transform: scale(0.8);
    width: 180px;
    height: 180px;
    rotate: 360deg;
    margin: 15px
}